
.auth__form{
    background: var(--negro);
    padding: 40px;
    border-radius: 5px;
}

.auth__btn{
    background: rgb(255, 204, 0) !important;
    color: var(--negro);
    font-weight: 600;
}

.auth__form p{
    margin-top: 30px;

}
.auth__form p a{
    color: rgba(255, 255,255, 0.735);
}


.auth__form input[type="file"]{
    color: rgb(255, 255, 255) ;
    cursor: pointer;
}